nz-layout.base {
  min-height: calc(100vh - 66px);

  &.ant-layout.ant-layout-has-sider {
    flex-direction: row;
  }

  .sidenav-sticky {
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    overflow: hidden auto;
  }

  nz-layout.inner-layout {
    padding: 0 24px 24px;

    nz-drawer {
      div.drawer {
        display: flex;
        gap: 10px;
        flex-direction: column;
      }
    }

    .navigation {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
    }

    nz-content {
      padding: 24px;

      &.no-padding {
        padding: 0;
      }

      div.actions {
        max-width: 800px;
        width: 100%;
        margin: 1rem auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        &.single-prev {
          justify-content: flex-end;
        }
      }

      div.contributors {
        max-width: 800px;
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        flex-wrap: wrap;
      }

      section {
        width: 100%;

        sw-doc-viewer.full-size {
          width: 100%;
          display: inline-block;
        }

        &.with-toc {
          display: flex;
          justify-content: center;
          gap: 20px;
        }
      }
    }
  }
}
