@import '../../node_modules/ng-zorro-antd/ng-zorro-antd.dark.less';
@import './highlight-dark.less';

@body-background: #1f1f1f;
@component-background: @body-background;
@primary-color: #1890ff;
@primary-2: #354249;

:root {
  --gray: #696969;
  --gray-lifted: #646464;
  --text-color: @text-color;
  --primary-color: #1a2430;
}

.xterm .composition-view,
.xterm .xterm-viewport {
  background-color: @body-background !important;
}

pre,
.hljs {
  background-color: #2a2a2a;
}

code {
  background-color: #373737;
}

.note {
  display: block;
}
