@scrllbar-thicc: 8px;
@body-background: #fff;
@primary-color: #1890ff;
@text-color: rgba(0, 0, 0, .85);

:root {
  --gray: #e1e9ec;
  --gray-lifted: rgb(168, 168, 182);
  --border-color: #cdcdcd;
  --primary-color: @primary-color;
  --text-color: @text-color;
}
