@import '../../../../../node_modules/ng-zorro-antd/ng-zorro-antd.less';
@import '../../../../../node_modules/ng-zorro-antd/code-editor/style/entry.less';

nz-layout.base {
  background-color: transparent;
  position: relative;

  nz-splitter {
    width: 100%;
    background-color: transparent;
    min-height: calc(100vh - 66px);

    .task-description {
      padding: 20px;

      article {
        margin: auto;
        max-width: 800px;
        max-height: calc(100vh - 66px);
        overflow: hidden;
        overflow-y: auto;

        --h1-font-size: 2rem;
        --h2-font-size: 1.7rem;
        --h3-font-size: 1.5rem;
        --h4-font-size: 1.3rem;
        --h5-font-size: 1.1rem;
      }
    }

    form {
      height: 100%;
      overflow: hidden;
    }

    .test-case-item {
      padding: 8px;

      p {
        margin: 0;
      }

      .test-case-item-box {
        padding: 8px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 8px 0;
        border: 1px solid var(--primary-color);
        background-color: color-mix(
          in srgb,
          var(--primary-color) 25%,
          transparent
        );

        .test-case-item-label {
          font-size: 12px;
        }
      }
    }
  }
}
