nz-header {
  background-color: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nz-layout.root-layout {
  min-height: 100vh;
}

nz-layout {
  background-color: #fff;
}
