nz-header {
  background-color: #fff;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sider-menu {
  height: 100%;
  border-right: 0;
}

.inner-layout {
  padding: 0 24px 24px;
}

nz-content {
  background: #fff;
  padding: 24px;
}

nz-layout.root {
  min-height: 100vh;
}
