main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 1rem;

  section {
    width: 100%;

    a {
      color: #fff;
    }

    &.banner {
      article {
        padding: 50px;
        max-width: 1000px;
        margin: auto;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        gap: 1.5rem;

        h1 {
          font-size: 2rem;
          margin: 0;
        }

        h2 {
          font-size: 1.5rem;
          margin: 0;
        }
      }

      @media screen and (max-width: 425px) {
        article {
          padding: 25px;
        }
      }
    }

    &.showcase {
      padding: 50px 16px;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 100px;
      place-items: center;

      article {
        width: 100%;
        max-width: 1000px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 100px;
        place-items: center;

        div {
          img {
            width: 256px;
            height: 256px;
            object-fit: contain;
          }

          h3 {
            font-size: 1.5rem;
          }

          h4 {
            font-size: 1rem;
            margin-bottom: 1rem;
          }

          &.left {
            text-align: center;
          }

          &.right {
            width: 100%;
          }
        }

        @media screen and (max-width: 1024px) {
          grid-template-columns: 1fr;
          max-width: 700px;
        }

        @media screen and (max-width: 425px) {
          img {
            width: 100%;
          }
        }
      }

      @media screen and (max-width: 768px) {
        &.showcase {
          row-gap: 25px;
          article {
            row-gap: 25px;
          }
        }
      }
    }
  }
}
