# rendered folders

guides
references
dev
examples/guides
examples/references

# ignore base md content

references.*
guides.*
kitchen-sink.*
README.*

# indexing

index-map.json
empty-hyperlinks.json