<main>
  @if (vm$ | async; as vm) {
    <section nz-row class="playground">
      <aside class="editor" nz-col nzXs="24" nzMd="12" nzLg="12">
        <section class="actions">
          <nz-button-group>
            <button nz-button [disabled]="!isEditorInited">
              <span
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                nzTheme="outline"
                (click)="collapseSider()"
              ></span>
            </button>
            <button nz-button (click)="download()">
              <span nz-icon nzType="download" nzTheme="outline"></span>
            </button>
          </nz-button-group>
        </section>
        <nz-layout>
          <nz-sider
            nzCollapsible
            nzTheme="light"
            [nzCollapsedWidth]="0"
            [nzTrigger]="null"
            [(nzCollapsed)]="isCollapsed"
          >
            <nz-tree
              [nzData]="vm.files"
              [nzShowIcon]="true"
              (nzClick)="selectFile($event)"
            ></nz-tree>
          </nz-sider>
          @if (vm.openFile) {
            <nz-layout>
              <nz-content>
                <ng-container
                  #outlet
                  [ngTemplateOutlet]="content"
                ></ng-container>
                <ng-template #content>
                  <nz-code-editor
                    #editor
                    class="editor"
                    [ngModel]="vm.openFile.contents"
                    (nzEditorInitialized)="onEditorInit()"
                    (ngModelChange)="
                      writeFile$.next({
                        path: vm.openFile.path,
                        contents: $event
                      })
                    "
                    [nzEditorOption]="{
                      language: (vm.openFile.path | languageExtension),
                      minimap: {
                        enabled: false
                      }
                    }"
                  ></nz-code-editor>
                </ng-template>
              </nz-content>
            </nz-layout>
          }
        </nz-layout>
      </aside>
      <aside class="preview" nz-col nzXs="24" nzMd="12" nzLg="12">
        <div class="wrapper" id="result-side">
          <aside class="result">
            <iframe class="site" [src]="vm.serverUrl"></iframe>
          </aside>
          <aside class="terminal">
            <sw-terminal></sw-terminal>
          </aside>
        </div>
      </aside>
    </section>
  }
</main>
