@import '../node_modules/ng-zorro-antd/ng-zorro-antd.less';
@import './styles/highlight-light.less';
@import './styles/variables.less';

html {
  scroll-behavior: smooth;

  .ant-layout {
    background-color: @body-background;
  }

  .ant-menu {
    background-color: transparent;
  }

  .ant-back-top {
    background-color: var(--gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;

    thead {
      tr {
        th {
          line-height: 1.5;
          text-align: left;
        }
      }
    }

    th,
    td {
      border: 1px solid var(--border-color);
      padding: 0.5rem 0.75rem;
      vertical-align: middle;
    }
  }

  img {
    width: 100%;
  }

  kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }

  .xterm .xterm-viewport {
    overflow-y: auto !important;
  }

  .ant-drawer-body {
    .ant-menu-sub.ant-menu-inline {
      background-color: transparent;
    }
  }

  .table-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }

  .code-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;

    .language-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 16px;
      border-bottom: 1px solid var(--border-color);

      button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          fill: var(--border-color);
          transition: 0.5s;
        }

        &:hover {
          svg {
            fill: @primary-color;
          }
        }
      }
    }

    pre {
      margin-bottom: 0;
    }
  }

  nz-anchor {
    nz-affix {
      max-width: 200px;
    }
    .ant-anchor-link-title {
      white-space: wrap;
    }
  }

  header {
    ul.is-open {
      background-color: @body-background;
    }
  }

  &.dark {
    @import './styles/dark.less';

    .ant-menu {
      box-shadow: none;

      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: transparent;
      }
    }

    pre {
      margin-bottom: 0;
    }

    .ant-menu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: @primary-2;
    }

    header {
      ul.is-open {
        .ant-menu-item-selected {
          background-color: transparent;
        }
      }
    }

    .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: @primary-2;
    }
  }

  a.anchor-fragment {
    color: var(--text-color);
    position: relative;

    &::after {
      content: '#';
      position: absolute;
      top: -1px;
      right: -20px;
      transition: color 0.3s;
      opacity: 0;
    }

    &:hover {
      color: @primary-color;

      &::after {
        opacity: 1;
      }
    }
  }
}

::-webkit-scrollbar {
  width: @scrllbar-thicc;
  height: @scrllbar-thicc;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-lifted);
}
