@import './styles/highlight-light.less';
@import './styles/variables.less';
@import './styles/mermaid.less';
@import './styles/typography.less';

html {
  scroll-behavior: smooth;

  iframe {
    border: 0;
  }

  div.button-group {
    display: inline-flex;

    button.ant-btn {
      &:not(:first-child):not(:last-child) {
        border-right: 0;
        border-left: 0;
      }
    }
  }

  .checked {
    color: green !important;
  }

  .home-header {
    background-color: #e6f7ff;
  }

  .ant-layout {
    background-color: @body-background;
  }

  .ant-divider,
  .ant-divider-inner-text {
    color: var(--text-color);
    border-top-color: rgba(0, 0, 0, 0.04) !important;
  }

  .ant-menu {
    background-color: transparent;
  }

  .ant-drawer-content-wrapper {
    max-width: 100%;
  }

  .center-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .ant-back-top {
    background-color: var(--gray);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  table:not([nz-table-content]) {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;

    thead {
      tr {
        th {
          line-height: 1.5;
          text-align: left;
        }
      }
    }

    th,
    td {
      border: 1px solid var(--border-color);
      padding: 0.5rem 0.75rem;
      vertical-align: middle;
    }
  }

  img {
    max-width: 100%;
    display: block;
    margin: 0 auto 1rem;
  }

  .note,
  .mermaid {
    margin-bottom: 1rem;
  }

  .mermaid {
    line-height: initial;
  }

  .note {
    display: block;
  }

  kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
      0 1px 1px rgba(0, 0, 0, 0.2),
      0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
  }

  .xterm .xterm-viewport {
    overflow-y: auto !important;
  }

  .ant-drawer-body {
    .ant-menu-sub.ant-menu-inline {
      background-color: transparent;
    }
  }

  .table-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }

  .code-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;

    .language-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 16px;
      border-bottom: 1px solid var(--border-color);

      button {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
          fill: var(--border-color);
          transition: 0.5s;
        }

        &:hover {
          svg {
            fill: @primary-color;
          }
        }
      }
    }

    pre {
      margin-bottom: 0;
      code {
        padding: 0;
      }
    }
  }

  .external-frame {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    margin: 0 auto 1rem;
    border: 1px solid var(--border-color);

    iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .frame-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;

    .title-frame {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 16px;
      border-bottom: 1px solid var(--border-color);

      @media screen and (max-width: 885px) {
        justify-content: center;
        gap: 0.5rem;
      }

      @media screen and (max-width: 767px) {
        justify-content: space-between;
      }

      @media screen and (max-width: 540px) {
        justify-content: center;
        gap: 1rem;
      }

      div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
      }

      a {
        background-color: transparent;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        gap: 0.5rem;
        color: var(--text-color);

        @media screen and (max-width: 540px) {
          flex-wrap: wrap;
        }

        span {
          @media screen and (max-width: 360px) {
            text-align: center;
          }
        }

        svg {
          width: 16px;
          height: 16px;
          fill: var(--border-color);
          transition: 0.5s;
        }

        &:hover {
          color: @primary-color;

          svg {
            fill: @primary-color;
          }
        }
      }
    }

    .body-frame {
      width: 100%;
      padding: 1rem;
      box-sizing: border-box;

      iframe {
        width: 100%;
      }
    }
  }

  .exercises-viewer {
    .monaco-editor {
      // Little hack to make editor full width always for exercises page
      width: 100% !important;
      height: 100% !important;
    }

    article {
      img {
        width: 100%;
        margin: 0 0 1rem;
      }
    }
  }

  nz-anchor {
    nz-affix {
      max-width: 200px;
    }
    .ant-anchor-link-title {
      white-space: wrap;

      &:has(> .anticon) {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        text-decoration: underline;
      }
    }
  }

  header {
    ul.is-open {
      background-color: @body-background;
    }
  }

  &.dark {
    @import './styles/dark.less';

    .ant-menu {
      box-shadow: none;

      .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
        background-color: transparent;
      }
    }

    pre {
      margin-bottom: 0;
    }

    .home-header {
      background-color: transparent !important;
    }

    .ant-menu .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
      background-color: @primary-2;
    }

    header {
      ul.is-open {
        .ant-menu-item-selected {
          background-color: transparent;
        }
      }
    }

    .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: @primary-2;
    }

    .ant-divider {
      border-top-color: rgba(255, 255, 255, 0.08) !important;
    }

    .ant-tag {
      a {
        color: var(--text-color) !important;
      }
    }
  }
}

::-webkit-scrollbar {
  width: @scrllbar-thicc;
  height: @scrllbar-thicc;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--gray);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-lifted);
}
