<ul nz-menu nzMode="inline" class="sidenav" (nzClick)="click($event)">
  <ng-container
    *ngTemplateOutlet="menuTpl; context: { $implicit: navItems, level: 1 }"
  ></ng-container>
  <ng-template
    nav-item
    #menuTpl
    let-navItems
    let-currentPath="currentPath"
    let-level="level"
  >
    @for (menu of navItems; track menu.path) {
      @if (menu.children) {
        <li nz-submenu [nzOpen]="true" [nzTitle]="menu.title">
          <ul>
            <ng-container
              *ngTemplateOutlet="
                menuTpl;
                context: {
                  $implicit: menu.children,
                  level: level + 1
                }
              "
            ></ng-container>
          </ul>
        </li>
      } @else {
        <li nz-menu-item nzMatchRouter [nzPaddingLeft]="24 * level">
          <a [routerLink]="menu.routerLink">{{ menu.title }}</a>
        </li>
      }
    }
  </ng-template>
</ul>
