@let isMobile = !isWideScreen();
<main>
  <nz-layout class="base">
    <section class="hero">
      <h1>შეამოწმე შენი ცოდნა</h1>
    </section>
    <section class="table-container">
      <nz-table
        #nzTable
        nzTableLayout="fixed"
        [nzData]="listOfDisplayData()"
        ngSkipHydration
      >
        <thead>
          <tr>
            <th>სახელი</th>
            @if (!isMobile) {
              <th>აღწერა</th>
            }
            <th [nzAlign]="isMobile ? 'right' : 'left'">სირთულე</th>
            @if (!isMobile) {
              <th>თეგები</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (data of nzTable.data; track data.path) {
            <tr>
              <td>
                <a [routerLink]="data.routerLink">{{ data.title }}</a>
              </td>
              @if (!isMobile) {
                <td>{{ data.description }}</td>
              }
              <td [nzAlign]="isMobile ? 'right' : 'left'">
                <nz-tag [nzColor]="colors[data.difficulty]">
                  {{ data.difficulty | exerciseDifficulty }}
                </nz-tag>
              </td>
              @if (!isMobile) {
                <td>
                  <div class="tags">
                    @for (tag of data.tags; track tag) {
                      @if (exerciseTagPathMap[tag]) {
                        <nz-tag nzColor="blue">
                          <a
                            routerLink="/doc/guides/{{
                              exerciseTagPathMap[tag].path
                            }}"
                          >
                            {{ exerciseTagPathMap[tag].title }}
                          </a>
                        </nz-tag>
                      } @else {
                        <nz-tag nzColor="geekblue">
                          {{ tag }}
                        </nz-tag>
                      }
                    }
                  </div>
                </td>
              }
            </tr>
          }
        </tbody>
      </nz-table>
    </section>
  </nz-layout>
</main>
