@let isDesktop = isWideScreen();
@let isMobile = !isDesktop;
<main>
  <nz-layout class="base">
    <section class="hero">
      <h1>შეამოწმე შენი ცოდნა</h1>
    </section>
    <section class="table-container">
      <nz-table #nzTable [nzData]="listOfDisplayData() || []" ngSkipHydration>
        <thead>
          <tr>
            @if (isDesktop) {
              <th>
                <span nz-icon nzType="sw:calendar" nzTheme="outline"></span>
              </th>
            }
            <th [class.title-column]="isDesktop" nzCustomFilter>
              სახელი
              <nz-filter-trigger
                [nzActive]="isSearchActive()"
                [nzVisible]="isSearchFilterActive()"
                [nzDropdownMenu]="menu"
                (nzVisibleChange)="isSearchFilterActive.set(true)"
              >
                <span nz-icon nzType="sw:search" nzTheme="outline"></span>
              </nz-filter-trigger>
            </th>
            @if (isDesktop) {
              <th>აღწერა</th>
            }
            <th
              [nzAlign]="isMobile ? 'right' : 'left'"
              [nzSortFn]="difficultyColumn.sortFn"
              [nzFilters]="difficultyColumn.listOfFilter"
              [nzFilterFn]="difficultyColumn.filterFn"
              [(nzSortOrder)]="difficultyColumn.sortOrder"
            >
              {{ difficultyColumn.name }}
            </th>
            @if (isDesktop) {
              <th class="tags-column">თეგები</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (data of nzTable.data; track data.path) {
            <tr>
              @if (isDesktop) {
                <td>
                  @if (data.hasSolved) {
                    <span
                      nz-icon
                      class="checked"
                      nzType="sw:check"
                      nzTheme="outline"
                    ></span>
                  } @else {
                    <div class="checked-spacer"></div>
                  }
                </td>
              }
              <td>
                <a [routerLink]="data.routerLink">
                  {{ data.index }}. {{ data.title }}
                </a>
              </td>
              @if (isDesktop) {
                <td>{{ data.description }}</td>
              }
              <td [nzAlign]="isMobile ? 'right' : 'left'">
                <nz-tag [nzColor]="colors[data.difficulty]">
                  {{ data.difficulty | exerciseDifficulty }}
                </nz-tag>
              </td>
              @if (isDesktop) {
                <td>
                  <div class="tags">
                    @for (tag of data.tags; track tag) {
                      @if (exerciseTagPathMap[tag]) {
                        <nz-tag nzColor="blue">
                          <a
                            routerLink="/doc/guides/{{
                              exerciseTagPathMap[tag].path
                            }}"
                          >
                            {{ exerciseTagPathMap[tag].title }}
                          </a>
                        </nz-tag>
                      } @else {
                        <nz-tag nzColor="geekblue">
                          {{ tag }}
                        </nz-tag>
                      }
                    }
                  </div>
                </td>
              }
            </tr>
          }
        </tbody>
      </nz-table>
    </section>
  </nz-layout>
</main>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input
        nz-input
        id="exercise-search"
        type="text"
        placeholder="ძიება სახელით"
        [formControl]="searchControl"
        (keydown.enter)="search()"
      />
      <div class="buttons">
        <button
          nz-button
          nzSize="small"
          nzType="primary"
          class="search-button"
          (click)="search()"
        >
          მოძებნა
        </button>
        <button nz-button nzSize="small" (click)="reset()">გასუფთავება</button>
      </div>
    </div>
  </div>
</nz-dropdown-menu>
